.text {
    font-family: 'IIbmplexmono';
    color: #fff;

    &1  {
        padding-right: 779px;
    }
    &2 {
       padding-right: 32px;
    }
    &3 {

    }
       
    
    }

.cap {
    display: flex;
background-color: black;
padding-left: 100px;

}